<nav id="myNavbar"
		class="navbar navbar-default navbar-inverse navbar-fixed-top"
		role="navigation">
		<div class="container">
		<div class="navbar-header">
				<a class="navbar-brand" href="">Restaurants</a>
			</div>
			
			<div id="bartenderHome" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent" ng-click="vm.home()">ABOUT US</button>
			</div>
			<div id="bartenderProfile" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.profile()">PROFILE</button>
			</div>
			<div id="bartenderSchedule" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.schedule()">SCHEDULE</button>
			</div>
			<div id="bartenderTables" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="">TABLES</button>
			</div>
			<div id="bartenderOrders" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.orders()">ORDERS</button>
			</div>
			<div id="bartenderLogout" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.logout()">LOGOUT</button>
			</div>
				
		</div>
	</nav>
<div >
<h4>Assigned region: &nbsp&nbsp{{vm.user.region}}</h4>
<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.show()">SHOW</button>

</div>

<div>
<canvas id="c"></canvas>
</div>