<nav id="myNavbar"
		class="navbar navbar-default navbar-inverse navbar-fixed-top"
		role="navigation">
		<div class="container">
		<div class="navbar-header">
				<a class="navbar-brand" href="">Restaurants</a>
			</div>
			
			<div id="cookHome" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent" ng-click="vm.home()">ABOUT US</button>
			</div>
			<div id="cookProfile" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.profile()">PROFILE</button>
			</div>
			<div id="cookSchedule" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.schedule()">SCHEDULE</button>
			</div>
			<div id="cookTables" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="">TABLES</button>
			</div>
			<div id="cookOrders" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.orders()">ORDERS</button>
			</div>
			<div id="cookLogout" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.logout()">LOGOUT</button>
			</div>
				
		</div>
	</nav>

<div>
Ovde ide graficki prikaz stolova u restoranu
</div>