<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="vm.registerManager()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required && form.firstName.$error.maxlength && form.firstName.$error.minlength }">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-minlength="3" ng-maxlength="10" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
            <span class="error" ng-show="form.firstName.$error.minlength">First name must be min 3 characters!</span>
      <span class="error" ng-show="form.firstName.$error.maxlength">First name must be max 10 characters!</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required && form.lastName.$error.maxlength && form.lastName.$error.minlength }">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" ng-minlength="3" ng-maxlength="20" ng-model="vm.user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
            <span class="error" ng-show="form.lastName.$error.minlength">Last name must be min 3 characters!</span>
      <span class="error" ng-show="form.lastName.$error.maxlength">Last name must be max 20 characters!</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required  && form.email.$error.maxlength && form.email.$error.minlength && form.email.$error.pattern}">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-pattern="/^.+@.+\..+$/" minlength="10" maxlength="100" ng-model="vm.user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
            <span class="error" ng-show="form.email.$error.minlength">Email must be min 10 characters!</span>
      		<span class="error" ng-show="form.email.$error.maxlength">Email must be max 100 characters!</span>
      		<span class="error" ng-show="form.email.$error.pattern">Email is not valid!</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required form.password.$error.minlength}">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" minlength="5" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            <span class="error" ng-show="form.password.$error.minlength">Password must be min 5 characters!</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required && form.rpassword.$error.pwmatch}">
            <label for="rpassword">Repeat password</label>
            <input type="password" name="rpassword" id="rpassword" class="form-control" pw-match="password" ng-model="vm.user.rpassword" required />
            <span ng-show="form.rpassword.$dirty && form.rpassword.$error.required" class="help-block">Password is required</span>
            <span ng-show="form.rpassword.$error.pwmatch">Lozinke se ne poklapaju.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$error.required}">
            <label for="restaurantName">Restaurant name</label>
            <input type="text" name="restaurantName" id="restaurantName" class="form-control"  ng-model="vm.user.restaurantName" required />
            <span ng-show="form.restaurantName.$error.required" class="help-block">Restaurant name is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <a href="#!/SysManagerHome" class="btn btn-link">Cancel</a>
        </div>
    </form>



</div>
