<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Restaurants</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/home.css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src = "http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript" ></script>
	<script src="/webjars/ng-flow/2.6.1/ng-flow-standalone.js"> </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("button#info").click(function(){
                $("p#infoCreator").slideToggle();
            });
        });
    </script>

    <script type="text/javascript">
        function hideInfo()
        {
            $("p#infoCreator").hide();
            /*$("div#guestProfil").hide();
            $("div#guestProfil2").hide();
            $("div#guestProfil3").hide();
            $("div#guestProfil4").hide();
            $("div#guestProfil5").hide();*/
        }

    </script>
    
    <script type="text/javascript">
        function showOptions()
        {
            /*$("div#guestProfil").show();
            $("div#guestProfil2").show();
            $("div#guestProfil3").show();
            $("div#guestProfil4").show();
            $("div#guestProfil5").show();*/
        }

    </script>
</head>
<body onload="hideInfo()">

	<nav id="myNavbar"
		class="navbar navbar-default navbar-inverse navbar-fixed-top"
		role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="">Restaurants</a>
			</div>
			
				
		</div>
	</nav>
    
        
        <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2 ">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view=""></div>
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>

    <script src="app.js"></script>
    <script src="app-services/authentication.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    <script src="app-services/user.service.js"></script>

    <script src="js/homeController.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/registerController.js"></script>
    <script src="js/guestProfilController.js"></script>
   	<script src="js/guestFriendsController.js"></script>
   	<script src="js/reserveController.js"></script>

   	<script src="js/waiterHomeController.js"></script>
   	<script src="js/waiterProfileController.js"></script>
	<script src="js/waiterOrdersController.js"></script>
	<script src="js/waiterScheduleController.js"></script>
	<script src="js/waiterTablesController.js"></script>
	<script src="js/waiterChangePasswordController.js"></script>

   	
   	
   	<script src="js/registerManagerController.js"></script>
   	<script src="js/SysManagerHomeController.js"></script>
   	<script src="js/SysManagerProfilController.js"></script>
   	<script src="js/registerRestaurantController.js"></script>
    <script src="js/ResManagerHomeController.js"></script>
   	<script src="js/ResManagerProfilController.js"></script>
    
    
	<script src="js/match.js"></script>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Restaurants</h2>
            <p >
                info o sajtu
            </p>


        </div>

        <div class="col-sm-8 col-sm-offset-2">
            <h2>About us</h2>
            <p>Restaurants gallery Creators</p>
            <p>
                <button id="info" class="btn btn-success">Team 15</button>
            <p id="infoCreator">About me</p>
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>&copy; Copyright 2017, Milana Becejac, Sandra Rajanovic, Tatjana Zdravkovic</p>
            </footer>
        </div>
    </div>
</body>
</html>