
<nav id="myNavbar"
		class="navbar navbar-default navbar-inverse navbar-fixed-top"
		role="navigation">
		<div class="container">
		<div class="navbar-header">
				<a class="navbar-brand" href="">Restaurants</a>
			</div>
			
			<div id="guestProfil" class="navbar-header">
				<button class="button" background-color= "Transparent"  ng-click="vm.home()">ABOUT US</button>
			</div>
			<div id="guestProfil2" class="navbar-header">
				<button class="button" background-color= "Transparent"  ng-click="vm.profil()">MY PROFILE</button>
			</div>
			<div id="guestProfil3" class="navbar-header">
				<button class="button" background-color= "Transparent"  ng-click="">RESTAURANTS</button>
			</div>
			<div id="guestProfil4" class="navbar-header">
				<button class="button" background-color= "Transparent"  ng-click="vm.friends()">FRIENDS</button>
			</div>
			<div id="guestProfil5" class="navbar-header">
				<button class="button" background-color= "Transparent"  ng-click="vm.logout()">LOGOUT</button>
			</div>
				
		</div>
	</nav>
	<div >
    
    
    
<div id="levi">
	<div ng-show="vm.buttons">
	<button  class="button" aria-label="All friends" ng-click="vm.showRests()">
          <md-icon aria-label="All rests" class="material-icons">Search restautants</md-icon>
    </button>
    <button  class="button" aria-label="All reservations" ng-click="vm.showReservations()">
          <md-icon aria-label="All rests" class="material-icons">Your reservations</md-icon>
    </button>
    <button  class="button" aria-label="All invitations" ng-click="vm.showInvitations()">
          <md-icon aria-label="All rests" class="material-icons">Your invitations</md-icon>
    </button>
    <button  class="button" aria-label="All finished" ng-click="vm.finished()">
          <md-icon aria-label="All finished" class="material-icons">History</md-icon>
    </button>
    </div>
    <div ng-show="vm.allInvitationsMode">
    <table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%" ng:controller="vm.SortableTableI">
    <thead>
    <tr>
            <th ng:repeat="(i,th) in vm.head4" ng:class="vm.selectedCls4(i)" ng:click="vm.changeSorting4(i)">{{th}}</th>
        </tr>
        </thead>
    <tbody>
        <tr ng-repeat="rr in vm.allInvitations|orderBy:vm.sort4.column:vm.sort4.descending">
       
        <td><img id="thumbnail" src={{rr.sender.image}}></td>
        <td>{{rr.sender.firstName}}</td>
        <td>{{rr.reservation.id}}</td>
        <td>{{rr.reservation.reservationDateTime}}</td>
        <td>{{rr.reservation.time}}</td>
        <td>{{rr.reservation.length}}</td>
        <td><button class="button" ng-click="vm.accept(rr.fid)">ACCEPT</button></td>
        <td><button class="button" ng-click="vm.reject(rr.fid)">REJECT</button></td></tr></tbody>
        
    </table>
    </div>
    
    <div ng-show="vm.allFinishedMode">
    <table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%" ng:controller="vm.SortableTableFin">
    <thead>
    <tr>
            <th ng:repeat="(i,th) in vm.head3" ng:class="vm.selectedCls3(i)" ng:click="vm.changeSorting3(i)">{{th}}</th>
        </tr>
        </thead>
    <tbody>
        <tr ng-repeat="r in vm.allFinished|orderBy:vm.sort3.column:vm.sort3.descending" ng-init='vm.getCalledFriends(r.reservationId)'>
        <td>{{r.id}}</td>
        <td>{{r.reservationDateTime}}</td><td>{{r.time}}</td><td>{{r.length}}</td>
        <td><table ng-repeat="s in vm.friends[r.reservationId]" ><tr><td>{{ s.receiver.firstName }}</td></tr></table></td>
       <td><table ng-repeat="ss in vm.makedMeals[r.reservationId]" ><tr><td>{{ ss.name }}</td></tr></table></td>
       </tr>
        </tbody>
    </table>
    </div>
    <div ng-show="vm.allReservationsMode">
    <table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%" ng:controller="vm.SortableTableCtrl">
    <thead>
    <tr>
            <th ng:repeat="(i,th) in vm.head" ng:class="vm.selectedCls(i)" ng:click="vm.changeSorting(i)">{{th}}</th>
        </tr>
        </thead>
    <tbody>
        <tr ng-repeat="r in vm.allReservations|orderBy:vm.sort.column:vm.sort.descending" ng-init='vm.getCalledFriends(r.reservationId)'>
        <td>{{r.id}}</td>
        <td>{{r.reservationDateTime}}</td><td>{{r.time}}</td><td>{{r.length}}</td>
        <td><table ng-repeat="s in vm.friends[r.reservationId]" ><tr><td>{{ s.receiver.firstName }}</td></tr></table></td>
       <td><table ng-repeat="ss in vm.makedMeals[r.reservationId]" ><tr><td>{{ ss.name }}</td></tr></table></td>
       <td><button class="button2" ng-click="vm.cancel(r.reservationId)">Cancel</button></td>
       <td><button class="button2" ng-click="vm.callF(r)">Call friends</button></td>
       <td><button class="button2" ng-click="vm.addM(r)">Add meal</button></td></tr>
       <tr ng-repeat="r in vm.allAcceptInvitations" ng-init='vm.getCalledFriends(r.reservation.reservationId)'>
        <td>{{r.reservation.id}}</td>
        <td>{{r.reservation.reservationDateTime}}</td>
        <td>{{r.reservation.time}}</td>
        <td>{{r.reservation.length}}</td>
        <td><table ng-repeat="s in vm.friends[r.reservation.reservationId]" ><tr><td>{{ s.sender.firstName }}</td></tr></table></td>
       <td><button class="button" ng-click="vm.cancel(r.reservation.reservationId)">Cancel</button></td></tr>
        
        </tbody>
    </table>
    
    
    </div>
    
    
    <div ng-show="vm.restModeStep3">
<br/>Restaurant name: {{vm.rest.name}}<br/>
<br/>Start: {{vm.c}}  {{vm.step1par.vreme}}<br/>
<br/>Finish:{{vm.c}}  {{vm.step1par.trajanje}}<br/>
<table ng-repeat="user in vm.allUsers">

        <tr><td><img id="thumbnail" src={{user.image}}></td><td>{{user.firstName}}</td><td> &nbsp;&nbsp;{{user.lastName}}</td>
       <td><button class="button" ng-click="vm.call(user.email)">CALL</button></td></tr>
     </table>
<form ng-submit="vm.findUsers()" role="form">
<div class="form-group" ng-class="{ 'has-error': form.parametar.$dirty && form.parametar.$error.required && form.parametar.$error.maxlength && form.parametar.$error.minlength }">
            <label for="parametar">First name</label>
            <input type="text" name="parametar" id="parametar" class="form-control" ng-minlength="3" ng-maxlength="10" ng-model="vm.parametar.par" required />
            
			<span ng-show="form.parametar.$dirty && form.parametar.$error.required" class="help-block">parametar is required</span>
            <span class="error" ng-show="form.parametar.$error.minlength">parametar must be min 3 characters!</span>
      <span class="error" ng-show="form.parametar.$error.maxlength">parametar must be max 10 characters!</span>
			<div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="button">Find</button>
        </div></div>
</form>
<button class="button"  ng-click="vm.step4()">NEXT</button>
</div>
    
    <div ng-show="vm.restModeStep4">
<br/>Restaurant name: {{vm.rest.name}}<br/>
<br/>Start: {{vm.c}}  {{vm.step1par.vreme}}<br/>
<br/>Finish:{{vm.c}}  {{vm.step1par.trajanje}}<br/>
<table ng-repeat="r in vm.allMI">
        <tr><td><img id="thumbnail" src={{r.image}}></td><td>{{r.name}}</td><td>{{r.price}}</td><td>{{r.info}}</td>
       <td><button class="button" ng-click="vm.addOrder(r)">Add to order</button></td>        
    </table>
    <h1>Your order:</h1>
    <table ng-repeat="r in vm.orderItems">
        <tr><td><img id="thumbnail" src={{r.image}}></td><td>{{r.name}}</td><td>{{r.price}}</td><td>{{r.info}}</td><td>{{r.count}}</td>
       <td><button class="button" ng-click="vm.removeOrder(r)">Remove from order</button></td>        </tr>
    </table>
<button class="button"  ng-click="vm.finish()">Finish</button>
</div>
    
	<div ng-show="vm.allRestsMode">
    <table  id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%" ng:controller="vm.SortableTableRest">
     <thead>
    <tr>
            <th ng:repeat="(i,th) in vm.head2" ng:class="vm.selectedCls2(i)" ng:click="vm.changeSorting2(i)">{{th}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in vm.allRests|orderBy:vm.sort2.column:vm.sort2.descending">
        <td><img id="thumbnail" src={{r.image}}></td>
        <td>{{r.name}}</td>
        <td>{{r.type}}</td>
        <td>{{r.startTime}}</td>
        <td>{{r.endTime}}</td>
        <td>{{r.address}}</td>
        <td>{{r.info}}</td>
       <td><button class="button" ng-click="vm.step1(r.name)">Reserve</button></td>
       <td><button class="button" ng-click="vm.showOnMap(r.name)">Show on map</button></td></tr>
        </tbody>
    </table>
	<div  id="desnisearch">
	<form ng-submit="vm.find()" role="form">
<div class="form-group">
            <label for="parametar">Restaurant name</label>
            <input type="text" name="parametar" id="parametar" class="form-control" ng-model="vm.parametar" />
            
			</div>
        
        <div class="form-group" >
            <label for="parametar">Restaurant type</label>
            <input type="text" name="parametar2" id="parametar2" class="form-control" ng-model="vm.parametar2" />
            
			<div class="form-actions">
            <button type="submit"  class="button">Find</button>
        </div>
        </div>
</form></div>
</div>


    

<div ng-show="vm.restModeStep1"><br/>Restaurant name: {{vm.rest.name}}<br/>
<form id="searchDate" ng-submit="vm.step2()" role="form" >
        <div class="form-group" ng-class="{ 'has-error': form.dt.$error.required}">
			Date:&nbsp;<input type="date" id="dt" name="datum" ng-model="vm.step1par.datum" required="required"/><br/></div>
		<div class="form-group" ng-class="{ 'has-error': form.vreme.$error.required}">
			From:&nbsp;<select id="vreme" ng-model="vm.step1par.vreme" ng-options="x for x in time" required="required"></select><br/></div>
		<div class="form-group" ng-class="{ 'has-error': form.trajanje.$error.required}">
			To:&nbsp;<select id="trajanje" ng-model="vm.step1par.trajanje" ng-options="x for x in duration" required="required"></select><br/></div>
		<div class="form-actions">
			<button class="button"  ng-disabled="form.$error.required" type="submit">NEXT</button><br/></div>
			<canvas id="c"></canvas><br/>
			
		</form>

</div>



<div ng-show="vm.restModeStep2">
<br/>Restaurant name: {{vm.rest.name}}<br/>
<br/>Start: {{vm.c}}  {{vm.step1par.vreme}}<br/>
<br/>Finish:{{vm.c}}  {{vm.step1par.trajanje}}<br/>
<canvas id="c1"></canvas><br/>
<button class="button"  ng-click="vm.step3()">NEXT</button>
</div>

<div ng-show="vm.callFMode">
<br/>Restaurant name: {{vm.currReservation.id}}<br/>
<br/>Start: {{vm.currReservation.reservationDateTime}}  {{vm.currReservation.time}}<br/>
<br/>Finish:{{vm.currReservation.reservationDateTime}}  {{vm.currReservation.length}}<br/>
<table ng-repeat="user in vm.allUsers">

        <tr><td><img id="thumbnail" src={{user.image}}></td><td>{{user.firstName}}</td><td> &nbsp;&nbsp;{{user.lastName}}</td>
       <td><button class="button" ng-click="vm.call(user.email)">CALL</button></td></tr>
     </table>
<form ng-submit="vm.findUsers()" role="form">
<div class="form-group" ng-class="{ 'has-error': form.parametar.$dirty && form.parametar.$error.required && form.parametar.$error.maxlength && form.parametar.$error.minlength }">
            <label for="parametar">First name</label>
            <input type="text" name="parametar" id="parametar" class="form-control" ng-minlength="3" ng-maxlength="10" ng-model="vm.parametar.par" required />
            
			<span ng-show="form.parametar.$dirty && form.parametar.$error.required" class="help-block">parametar is required</span>
            <span class="error" ng-show="form.parametar.$error.minlength">parametar must be min 3 characters!</span>
      <span class="error" ng-show="form.parametar.$error.maxlength">parametar must be max 10 characters!</span>
			<div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="button">Find</button>
        </div></div>
</form>
<button class="button"  ng-click="vm.showReservations()">BACK</button>
</div>


<div ng-show="vm.addMealMode">
<br/>Restaurant name: {{vm.currReservation.id}}<br/>
<br/>Start: {{vm.currReservation.reservationDateTime}}  {{vm.currReservation.time}}<br/>
<br/>Finish:{{vm.currReservation.reservationDateTime}}  {{vm.currReservation.length}}<br/>
<table ng-repeat="r in vm.allMI">
        <tr><td><img id="thumbnail" src={{r.image}}></td><td>{{r.name}}</td><td>{{r.price}}</td><td>{{r.info}}</td>
       <td><button class="button" ng-click="vm.addOrder(r)">Add to order</button></td>        
    </table>
    <h1>Your order:</h1>
    <table ng-repeat="r in vm.orderItems">
        <tr><td><img id="thumbnail" src={{r.image}}></td><td>{{r.name}}</td><td>{{r.price}}</td><td>{{r.info}}</td><td>{{r.count}}</td>
       <td><button class="button" ng-click="vm.removeOrder(r)">Remove from order</button></td>        </tr>
    </table>
    <button class="button"  ng-click="vm.finish()">Finish</button><br/>
    
<button class="button"  ng-click="vm.showReservations()">BACK</button>
</div>





</div>

</div>
<div id="desni">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbeDsTX5dKo833VlHoAoXnfGKjj4kRZvU"
        async defer>
</script>
<init-map  ng-map="vm.map" center="Novi Sad, Srbija" draggable="true">
</init-map>
</div>








