<nav id="myNavbar"
		class="navbar navbar-default navbar-inverse navbar-fixed-top"
		role="navigation">
		<div class="container">
		<div class="navbar-header">
				<a class="navbar-brand" href="">Restaurants</a>
			</div>
			
			<div id="bartenderHome" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent" ng-click="vm.home()">ABOUT US</button>
			</div>
			<div id="bartenderProfile" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.profile()">PROFILE</button>
			</div>
			<div id="bartenderSchedule" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.schedule()">SCHEDULE</button>
			</div>
			<div id="bartenderTables" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.tables()">TABLES</button>
			</div>
			<div id="bartenderOrders" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="">ORDERS</button>
			</div>
			<div id="bartenderLogout" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.logout()">LOGOUT</button>
			</div>
				
		</div>
	</nav>
	
<h2>Pending orders:</h2>
<div ng-show="vm.seeAllMode">
<div class="container">            
  <table class="table">
    <thead>
      <tr>
        <th>Order no.</th>
        <th>Item</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Take</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="i in vm.orders">
        <tr><td>{{i.order.orderNumber}}</td><td>{{i.menuItem.name}}</td><td>{{i.amount}}</td><td>{{i.state}}</td>
        <td><button class="btn btn-primary" ng-click="vm.take(i)">Take</button></td>
    </tbody>
  </table>
</div>
</div>

<h2>Taken orders:</h2>
<div ng-show="vm.takenMode">
<div class="container">            
  <table class="table">
    <thead>
      <tr>
        <th>Order no.</th>
        <th>Item</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Finish</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="i in vm.taken">
        <tr><td>{{i.order.orderNumber}}</td><td>{{i.menuItem.name}}</td><td>{{i.amount}}</td><td>{{i.state}}</td>
        <td><button class="btn btn-primary" ng-click="vm.finish(i)">Finish</button></td>
    </tbody>
  </table>
</div>

</div>