<nav id="myNavbar"
		class="navbar navbar-default navbar-inverse navbar-fixed-top"
		role="navigation">
		<div class="container">
		<div class="navbar-header">
				<a class="navbar-brand" href="">Restaurants</a>
			</div>
			
			<div id="guestProfil" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent" ng-click="vm.home()">ABOUT US</button>
			</div>
			<div id="guestProfil2" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.resManagerProfil()">MY PROFIL</button>
			</div>
			<div id="guestProfil3" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.manage()">MANAGE</button>
			</div>
			<div id="guestProfil4" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.registerWorker()">REGISTER WORKER</button>
			</div>
			<div id="guestProfil5" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.registerSuplier()">REGISTER SUPLIER</button>
			</div>
			<div id="guestProfil6" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.logout()">LOGOUT</button>
			</div>
				
		</div>
	</nav>

<div>
Manage restaurant
<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.showTables()">TABLES</button>
<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.setMenu()">MENU</button>
<div ng-show="vm.tablesMode">

<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.show()">SHOW</button>
<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.addTable()">ADD TABLE</button>
<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.deleteTable()">DELETE TABLE</button>
<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.addRegion()">ADD NEW REGION</button>

<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.calendarShift()">ASIGN SHIFT</button>
<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.supply()">SUPPLY</button>
</div>



<button class="btn btn-primary" aria-label="Edit table" ng-click="vm.editTable()">
          <md-icon aria-label="Edit table" class="material-icons">EDIT TABLE</md-icon>
        </button>
        
<md-input-container class="md-block" flex-gt-sm>
	<form name="form" ng-show="vm.editMode" ng-submit="vm.save()" role="form">
        <div class="form-group">
        <label for="region">Select region: </label>
        <select name="region" id="region" class="form-control" ng-model="vm.table.region" required
        	ng-options="item as item.name for item in vm.regs">	
		</select>
		</div> 
        <div class="form-group">
            <label for="numOfChairs">Number of chairs: </label>
            <input type="number" name="numOfChairs" id="numOfChairs" class="form-control" ng-model="vm.table.numOfChairs" required />
        </div>     
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Save</button>
        </div>
        
        
      
   </form>
    </md-input-container>

<div>
<canvas id="c"></canvas>
</div>
</div>
</div>
