<nav id="myNavbar"
		class="navbar navbar-default navbar-inverse navbar-fixed-top"
		role="navigation">
		<div class="container">
		<div class="navbar-header">
				<a class="navbar-brand" href="">Restaurants</a>
			</div>
			
			<div id="guestProfil" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent" ng-click="vm.home()">ABOUT US</button>
			</div>
			<div id="guestProfil2" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.resManagerProfil()">MY PROFIL</button>
			</div>
			<div id="guestProfil3" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="">MANAGE</button>
			</div>
			<div id="guestProfil4" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.registerWorker()">REGISTER WORKER</button>
			</div>
			<div id="guestProfil5" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"  ng-click="vm.registerSuplier()">REGISTER SUPLIER</button>
			</div>
			<div id="guestProfil6" class="navbar-header">
				<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.logout()">LOGOUT</button>
			</div>
				
		</div>
</nav>
<div>
	<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.addDish()">ADD DISH</button>
	<md-input-container class="md-block" flex-gt-sm>
	<form name="form" ng-show="vm.addDishMode" ng-submit="vm.saveDish()" role="form">
              <div class="form-group" ng-class="{ 'has-error': form.name.$error.required}">
            <label for="name">Dish name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.dish.name" required />
            <span ng-show="form.name.$error.required" class="help-block">Dish name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.info.$error.required }">
            <label for="info">Dish info</label>
            <input type="text" name="info" id="info" class="form-control" ng-model="vm.dish.info" required />
            <span ng-show="form.info.$error.required" class="help-block">Dish info is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.price.$error.required }">
            <label for="price">Dish price</label>
            <input type="number" name="price" id="price" class="form-control" ng-model="vm.dish.price" required />
            <span ng-show="form.price.$error.required" class="help-block">Dish price is required</span>
        </div>
        <div class="form-group" ng-class="{'has-error': form.role.$error.required}">
		<label for="type">Type</label>
        <select name="type" id="type" class="form-control" ng-model="vm.dish.specType" required >
		  <option value="cooked">Cooked</option>
		  <option value="fried">Fried</option>
		  <option value="desert">Desert</option>
		  <option value="salad">Salad</option>
		</select>
		</div>   
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Save</button>
        </div>           
   </form>
   </md-input-container>
	<button class="btn btn-default navbar-btn" background-color= "Transparent"ng-click="vm.addDrink()">ADD DRINK</button>
	<md-input-container class="md-block" flex-gt-sm>
	<form name="form1" ng-show="vm.addDrinkMode" ng-submit="vm.saveDrink()" role="form1">
              <div class="form-group" ng-class="{ 'has-error': form1.name.$error.required}">
            <label for="name">Drink name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.drink.name" required />
            <span ng-show=" form1.name.$error.required" class="help-block">Drink name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form1.info.$error.required }">
            <label for="info">Drink info</label>
            <input type="text" name="info" id="info" class="form-control" ng-model="vm.drink.info" required />
            <span ng-show="form1.lastName.$error.required" class="help-block">Drink info is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form1.price.$error.required }">
            <label for="price">Drink price</label>
            <input type="number" name="price" id="price" class="form-control" ng-model="vm.drink.price" required />
            <span ng-show="form1.price.$error.required" class="help-block">Drink price is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form1.spec_type.$error.required }">
            <label for="spec_type">Drink type</label>
            <input type="text" name="spec_type" id="spec_type" class="form-control" ng-model="vm.drink.specType" required />
            <span ng-show="form1.spec_type.$error.required" class="help-block">Drink type is required</span>
        </div>    
        <div class="form-actions">
            <button type="submit" ng-disabled="form1.$invalid || vm.dataLoading" class="btn btn-primary">Save</button>
        </div>           
   </form>
   </md-input-container>
	<div>
	<h1>Dishes</h1>
	<md-input-container class="md-block" flex-gt-sm>
	<form name="formEdit" ng-show="vm.editDishMode" ng-submit="vm.editDish()" role="formEdit">
              <div class="form-group" ng-class="{ 'has-error': formEdit.name.$error.required}">
            <label for="name">Dish name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.Ditem.name" required />
            <span ng-show="formEdit.name.$error.required" class="help-block">Dish name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': formEdit.info.$error.required }">
            <label for="info">Dish info</label>
            <input type="text" name="info" id="info" class="form-control" ng-model="vm.Ditem.info" required />
            <span ng-show="formEdit.info.$error.required" class="help-block">Dish info is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': formEdit.price.$error.required }">
            <label for="price">Dish price</label>
            <input type="number" name="price" id="price" class="form-control" ng-model="vm.Ditem.price" required />
            <span ng-show="formEdit.price.$error.required" class="help-block">Dish price is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': formEdit.spec_type.$error.required }">
            <label for="spec_type">Dish type</label>
            <input type="text" name="spec_type" id="spec_type" class="form-control" ng-model="vm.Ditem.specType" required />
            <span ng-show="formEdit.spec_type.$error.required" class="help-block">Dish type is required</span>
        </div>    
        <div class="form-actions">
            <button type="submit" ng-disabled="formEdit.$invalid || vm.dataLoading" class="btn btn-primary">Save</button>
        </div>           
   </form>
   </md-input-container>
   <br/>
	<table ng-repeat="item in vm.dishes">
        <tr><td>{{item.name}}</td><td> &nbsp;&nbsp;{{item.price}}</td><td> &nbsp;&nbsp;{{item.specType}}</td>
       <td><button class="btn btn-primary" ng-click="vm.editDMode(item)">EDIT</button></td></tr>
     </table>
     </div>
     <div>
	<h1>Drinks</h1>
	<md-input-container class="md-block" flex-gt-sm>
	<form name="formDEdit" ng-show="vm.editDrinkMode" ng-submit="vm.editDrink()" role="formDEdit">
              <div class="form-group" ng-class="{ 'has-error': formDEdit.name.$error.required}">
            <label for="name">Drink name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.DrItem.name" required />
            <span ng-show="formDEdit.name.$error.required" class="help-block">Drink name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': formDEdit.info.$error.required }">
            <label for="info">Drink info</label>
            <input type="text" name="info" id="info" class="form-control" ng-model="vm.DrItem.info" required />
            <span ng-show="formDEdit.info.$error.required" class="help-block">Drink info is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': formDEdit.price.$error.required }">
            <label for="price">Drink price</label>
            <input type="number" name="price" id="price" class="form-control" ng-model="vm.DrItem.price" required />
            <span ng-show="formDEdit.price.$error.required" class="help-block">Drink price is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': formDEdit.spec_type.$error.required }">
            <label for="spec_type">Drink type</label>
            <input type="text" name="spec_type" id="spec_type" class="form-control" ng-model="vm.DrItem.specType" required />
            <span ng-show="formDEdit.spec_type.$error.required" class="help-block">Drink type is required</span>
        </div>    
        <div class="form-actions">
            <button type="submit" ng-disabled="formDEdit.$invalid || vm.dataLoading" class="btn btn-primary">Save</button>
        </div>           
   </form>
   </md-input-container>
   <br/>
	<table ng-repeat="item in vm.drinks">
        <tr><td>{{item.name}}</td><td> &nbsp;&nbsp;{{item.price}}</td><td> &nbsp;&nbsp;{{item.specType}}</td>
       <td> &nbsp;&nbsp;<button class="btn btn-primary" ng-click="vm.editDrMode(item)">EDIT</button></td></tr>
     </table>
     </div>
</div>